body {
    font-family: "Courier New", Courier, monospace;
    color: rgb(77, 77, 77);
    margin: 0;
    background-color: white;
}

code {
  font-family: "Courier New", Courier, monospace,
    monospace;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#pageContentContainer {
  min-height: 66vh;
}

#mapImageContainer {
  position: relative;
  width: 700px;
}

#mapImage {
  width: 700px;
}

.mapPin {
  position: absolute;
  display: flex;
}

.mapPin:hover > .mapPinMarker {
  background-color: rgb(235, 86, 255);
  
}

.mapPin:hover > .mapPinName {
  display: flex;
}

.mapPinMarker {
  background-color: rgb(0, 183, 255);
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.mapPinName {
  display: none;
  font-size: 14pt;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(255, 255, 255, 0.836);
}

.invisible {
  display: none;
}

.stdLink {
  color: rgb(41, 166, 216);
  text-decoration: none;
}

.stdLink:hover {
  text-decoration: underline;
}
