#viewMapContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
}

.pinInfo {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 50px;
    width: 500px;
    line-height: 1.5;
}

.invisible {
    display: none;
    width: 500px;
}

#prompt {
    text-align: center;
    color: rgb(187, 187, 187);
    padding-bottom: 110px;
    font-size: 14pt;
    display: none;
}

.pinName {
    font-size: 16pt;
    color: rgb(87, 87, 87);
    font-weight: 550;
}

.pinMapID {
    padding-bottom: 20px;
}

#mapLink {
    color: rgb(29, 191, 255);
    font-size: 9pt;
}

#mapLink:hover {
    color: rgb(235, 86, 255);
}

.pinDescription {
}

#contentContainer {
    padding-left: 15%;
    padding-right: 15%;
}

.mapDetailsLeft {
    width: 500px;
    
}

.mapDescriptionContainer {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mapTitle {
    font-size: 16pt;
    color: rgb(87, 87, 87);
    font-weight: 550;
}

.mapInfo {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 60px;
}